$primary: #fcc179

#logo {
    width: 100%;
    color: $primary;
    text-style: bold;
    margin-top: 1;
    content-align: center middle;
}

#menu-container {
    width: 100%;
    height: auto;
    align: center top;
    margin-top: 1;
}

.optionslist {
    width: 30;
    height: auto;
}

.optionslist ListItem {
    height: 1;
}

.optionslist ListItem Label {
    width: 100%;
    text-align: center;
    color: $primary;
}