$primary: #fcc179;
$surface: #202020;

/* ================== */
/* Universal Elements */
/* ================== */

#logo {
    width: 100%;
    color: $primary;
    text-style: bold;
    margin-top: 1;
    content-align: center middle;
}

.input {
    width: 30;
    margin-top: 1;
}

.input:focus {
    background: $primary;
    color: $background;
}

.btn {
    width: 30;
    margin-top: 1;
}

.btn:focus {
    background: $primary;
    color: $background;
}

.select {
    width: 30;
}

.select:focus {
    background: $primary;
    color: $background;
}

.footer {
    dock: bottom;
    width: 100%;
    height: 1;
    color: $primary;
    background: $surface;
    content-align: right middle;
}

/* ================ */
/* Main Menu Screen */
/* ================ */

#menu-container {
    width: 100%;
    height: auto;
    align: center top;
    margin-top: 1;
}

.optionslist {
    width: 30;
    height: auto;
}

.optionslist ListItem {
    height: 1;
}

.optionslist ListItem Label {
    width: 100%;
    text-align: center;
    color: $primary;
}

/* ==================== */
/* Configuration Screen */
/* ==================== */

#config-container {
    width: 100%;
    height: auto;
    align: center top;
    margin-top: 1;
}

#config-container Label {
    color: $primary;
    text-style: bold;
    margin-top: 1;
}

/* ========================= */
/* Server Information Screen */
/* ========================= */

#server-container {
    width: 100%;
    height: auto;
    align: center top;
    margin-top: 1;
}

#server-container .info-label {
    color: $primary;
    text-style: bold;
    margin-top: 1;
}

#server-container .info-sub {
    color: $primary;
    margin-top: 1;
}

#server-container .info-value {
    margin-top: 0;
}

/* ==================== */
/* Run Benchmark Screen */
/* ==================== */

#run-container {
    width: 100%;
    height: auto;
    align: center top;
    margin-top: 1;
}

#run-container Label {
    color: $primary;
    text-style: bold;
    margin-top: 1;
}

/* ======================= */
/* Active Benchmark Screen */
/* ======================= */

#active-benchmark-container {
    width: 100%;
    height: auto;
    align: center top;
    margin-top: 1;
}

#active-benchmark-container Label {
    color: $primary;
    text-style: bold;
}

/* ========================= */
/* Benchmark Details Screen  */
/* ========================= */

#details-container {
    width: 100%;
    height: auto;
    align: center top;
    margin-top: 1;
}

#details-container .info-label {
    color: $primary;
    text-style: bold;
    margin-top: 1;
}

#details-container .info-sub {
    color: $primary;
    margin-top: 1;
}

#details-container .info-value {
    margin-top: 0;
}

/* ======================== */
/* Benchmark History Screen */
/* ======================== */

#history-container {
    width: 100%;
    height: auto;
    align: center top;
    margin-top: 1;
}

#history-table {
    width: 56;
    height: auto;
}

.history-list {
    width: 100%;
    height: auto;
}

.history-list ListItem {
    height: 1;
}

.history-list ListItem.highlight {
    background: $primary;
}

.history-list ListItem.highlight Label {
    color: $background;
}

.row {
    height: 1;
}

.cell {
    width: auto;
}

.cell-date {
    width: 20;
}

.cell-scenario {
    width: 16;
}

.cell-duration {
    width: 10;
}

.cell-workers {
    width: 10;
}

#history-table > .row Label {
    color: $primary;
    text-style: bold;
}